body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link {
  margin-left: 40px;
}


.footer-links a {
      text-decoration: none;
      color: #666;
}

.footer-links a:hover {
      color: #000;
}


.universe-logo {
    max-width: 120px;      
    max-height: 60px;      
    width: auto;
    height: auto;
    margin-bottom: 10px;
}

#supportHero {
    background-color: rgb(56,126,209);
    color: white;
}

#supportHero a{
    color: white;
}

#supportWrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}

#supportHero input{
  padding: 25px 60px;
  width: 80%;
  font-size: 15px;
  border-radius: 20px;
  border: none;
}